body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('slika2.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    color: #333333;
}

h1 {
    color: #1f63b0;
    font-size: 2.5em;
    text-align: center;
    margin: 30px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
h3{
    color: #1767c2;
}

p {
    font-size: 18px;
    color: #e0e0e0;
    text-align: left;
    line-height: 1.6;
    margin: 20px 0;
}

.container {
    width: 50%;
    max-width: 600px;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #1f63b0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 10px 5px;
}

.button:hover {
    background-color: #3aa8e4;
    transform: scale(1.05);
}

a {
    margin: 10px;
    padding: 6px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    display: inline-block;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #004a8d;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

li span {
    font-size: 18px;
    color: #333;
    flex-grow: 1;
    text-align: left;
}

li a {
    margin-left: 10px;
}

.buttons-container {
    display: flex;
    gap: 10px;

}

.button, li a {
    padding: 6px 12px;
    background-color: #1f63b0;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

}

.button:hover, li a:hover {
    background-color: #3aa8e4;
}

.pozicija-naslov {
    color: #007bee;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}



.pozicija-sadrzaj {
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
}

.pozicija-sadrzaj h2 {
    color: #007bee;
    font-size: 1.5em;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

.pozicija-opis {
    margin-top: 10px;
    text-align: justify;
}

.pozicija-lista {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
    margin-top: 10px;
    text-align: justify;
}

.pozicija-lista li {
    font-size: 1em;
    line-height: 1.5;
    margin: 5px 0;
}

.login-form .form-group {
    margin-bottom: 20px;
}

.login-form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #1f63b0;
}

.login-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}

.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.error-message, .success-message {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}
