<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>JobEasy - Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="container">
  <h1>Dobrodošli na JobEasy</h1>

  <div th:if="${param.message}" class="success-message">
    <p th:text="${param.message}" class="success-message"></p>
  </div>

  <!-- Login Form -->
  <form th:action="@{/login}" method="post" class="login-form">
    <div class="form-group">
      <label for="username">Korisničko ime:</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Unesite korisničko ime" required />
    </div>

    <div class="form-group">
      <label for="password">Korisnička lozinka:</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Unesite lozinku" required />
    </div>

    <div class="button-group">
      <button type="submit" class="button">Prijava</button>
      <a th:href="@{/registracija}" class="button">Registracija</a>
    </div>
  </form>

  <!-- Error Message for Authentication Failure -->
  <div th:if="${param.error}" class="error-message">
    <p th:text="${param.error}">Poruka greške će biti prikazana ovde</p>
  </div>

  <!-- Success Message for Logout -->
  <div th:if="${param.logout}" class="success-message">
    <p>Uspješno ste se odjavili.</p>
  </div>
</div>
</body>
</html>
