<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JobEasy - Pregled pozicije</title>
  <link rel="icon" type="image/png" th:href="@{/css/favicon.png}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/customDugme.css}"/>

</head>
<style>

  .profile-container {
    margin: 0 auto;
    max-width: 90%;
  }

  .profile-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    border: none;
    background-color: #ffffff;
    padding: 15px;
    margin-top: 20px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .profile-card .list-group-item {
    background: linear-gradient(to bottom, #ffffff, #f8f9fa);
    border: none;
    text-align: center;
  }

  .profile-card:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
  }

  .profile-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
</style>
<body>
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/welcome}">Početna</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav d-flex align-items-center gap-2">
        <li class="nav-item">
          <a th:href="@{/korisnici/profil}" class="btn btn-outline-info ">Moj profil</a>
        </li>
        <li class="nav-item">
          <button class="Btn d-flex align-items-center">
            <div class="sign">
              <svg viewBox="0 0 512 512">
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
              </svg>
            </div>
            <div class="text">
              <a class="nav-link text-white" th:href="@{/logout}">Odjava</a>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container profile-container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h3 class="text-center">Pregled pozicije</h3>
      <div class="card profile-card">
        <div class="card-body p-4">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><strong>Naziv pozicije:</strong> <span th:text="${pozicija.nazivPozicije}"></span></li>
            <li class="list-group-item"><strong>Opis:</strong> <span th:text="${pozicija.kratakOpisPozicije}"></span></li>
            <li class="list-group-item" th:if="${pozicija.firma != null}"><strong>Firma:</strong> <span th:text="${pozicija.firma.naziv}"></span></li>
            <li class="list-group-item" th:if="${pozicija.zanimanje != null}"><strong>Zanimanje:</strong> <span th:text="${pozicija.zanimanje.naziv}"></span></li>
            <li class="list-group-item"><strong>Trajanje:</strong> Od: <span th:text="${pozicija.datumOd}"></span> Do: <span th:text="${pozicija.datumDo}"></span></li>
          </ul>
          <div class="profile-actions text-center mt-3">
            <a href="/welcome" class="btn btn-outline-warning ">Nazad</a>

            <div th:if="${prijavljenePozicije != null and prijavljenePozicije.containsKey(pozicija.id)}">
              <form th:action="@{/prijave/ponistiprijavu}" method="post">
                <input type="hidden" name="pozicijaId" th:value="${pozicija.id}">
                <button type="submit" class="btn btn-outline-danger">Poništi prijavu</button>
              </form>
            </div>

            <div th:if="${prijavljenePozicije != null and !prijavljenePozicije.containsKey(pozicija.id)}">
              <form th:action="@{/prijave/novaprijava}" method="post">
                <input type="hidden" name="pozicijaId" th:value="${pozicija.id}">
                <button type="submit" class="btn btn-outline-success">Prijavi se</button>
              </form>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
