<!-- welcome.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>JobEasy - Početna </title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/> <!-- Link to your CSS file -->
</head>
<body>
<div class="container">
  <h1>Dobro došli na JobEasy</h1>
  <a class="button" th:href="@{/pozicije}">Lista pozicija</a>
  <a class="button" th:href="@{/prijava/novaprijava}">Prijava na poziciju</a>
  <a class="button" th:href="@{/prijava}">Pregled aplikanata</a><!-- Button linking to PTF -->
</div>
</body>
</html>
